/*
 * Copyright (c) 2021 Baumer Group
 */
 &flash0 {
	partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			mem_partition_1: partition@19000 {
				compatible = "baumer,mem-flash";
				label = "mem_partition_1";
				reg = <0x19000 0x1800>;
			};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pa15 &i2c1_sda_pb9>;
	i2c_eeprom: eeprom@54 {
		compatible = "atmel,at24";
		reg = <0x54>;
		label = "eeprom";
		size = <262144>;
		pagesize = <256>;
		address-width = <16>;
		timeout = <10>;
		partitions {
			#address-cells = <1>;
			#size-cells = <1>;
			nvs_eeprom_partition: partition@0 {
				compatible = "baumer,mem-eeprom";
				label = "nvs_eeprom_partition";
				reg = <0x0 0x1800>;
			};
		};
	};
};
